<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/logo/img1.JPG" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1>homes simplify their every day community living</h1>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/logo/img22.JPG" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1>maintenance payments are processed every month</h1>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/logo/img3.JPG" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1>visitors are validated by our systems every month</h1>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div><br><br>